@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?603fb169bb8ec8298091ddca52a8697d") format("truetype"),
url("./flaticon.woff?603fb169bb8ec8298091ddca52a8697d") format("woff"),
url("./flaticon.woff2?603fb169bb8ec8298091ddca52a8697d") format("woff2"),
url("./flaticon.eot?603fb169bb8ec8298091ddca52a8697d#iefix") format("embedded-opentype"),
url("./flaticon.svg?603fb169bb8ec8298091ddca52a8697d#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-edit:before {
    content: "\f101";
}
.flaticon-trash:before {
    content: "\f102";
}
